{% extends "base.html" %}
{% block title %}Requirements{% endblock %}
{% block content %}
<div class="container small-spacer">
	<div class="row">
		<div class="col-md-12">
			<h2>Membership Requirements</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4><b>The following are requirements for anyone wishing to apply to the BCA Chapter of the NHS:</b></h4>
			<ul>
				<li><b>Scholarship</b>: Minimum 3.500 GPA at the end of sophomore/junior year as reflected on Naviance (3.499 is not 3.500).</li>
				<li><b>Leadership</b>: Demonstrated leadership in and out of school with leadership qualities, skills, and experience (e.g. Vice President of Class Council).</li>
				<li><b>Service</b>: At least 40 completed hours of community service for applying juniors and seniors (only 10 hours can be completed in-house).</li>
				<li><b>Character</b>: Demonstrating trustworthiness, respect, responsibility, fairness, caring, and citizenship (student complies with school regulations, avoids cheating, and takes criticism willingly).</li>
			</ul>
		</div>
	</div>


</div>
{% endblock %}