h1{
	font-size: 70px;
}
.center{
	text-align: center;
}
.navbar-right{
	margin-right: 2%;
}
.navbar-header{
	font-family: Arial;
	font-weight: bold;
}
.navbar-default{
	background-color: #0A0A0A;
}
.spacer{
	margin-top: 13%;
}
.small-spacer{
	margin-top: 6%;
}
.form_label{
	margin-top: 10px;
}
.error{
	font-size: 25px;
	color:#e51c23;
	text-align: center;
}
table, th, td {
	border: 1px solid #2c3e50 !important;
	color: black !important;
	text-align: center;
	word-wrap: break-word;
}
td{
	min-height: 150px;
	min-width: 60px;
	max-width: 175px; !important
}
.logo{
	height: 70px;
	width: 50px;
	margin-top: -10px;
	margin-right: 10px;
	float: left;
}
@media screen and (max-width: 767px){
    .logo {
        height: 40px;
        width: 30px;
    }
}
table a:not(.btn), .table a:not(.btn){
	text-decoration: none;
}
.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner{
}
.fill{
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-caption{
	top: 50px;
	left: 10%;
	right: 10%;
	text-shadow: 10px 10px 10px black;
}
.carousel-caption a{
	color: #FB0;
}
.carousel-caption a:hover{
	text-decoration: none;
	font-weight: lighter;
	color: #fff;
}
.carousel-caption h1{
	color: #FB0;
}
.carousel-caption h2{
	font-weight: bold;
}
.white{
	color: #fff;
}