{% extends "base.html" %}
{% block title %}Community Service{% endblock %}
{% block content %}
<div class="container small-spacer">

	<div class="row">
		<div class="col-md-12">
			<h2>Community Service</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4><b>Steps to Propose a NHS Community Service Event:</b></h4>
			<ol>
        <li>Ensure your club has more than 10 members and can accurately track hours</li>
				<li>Fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYq54a0oGUVXWnVzwuk9vm0zd7Pto58iNRr8haN3YA1qJT0w/viewform" target="_blank">NHS Community Service Proposals Form</a></li>
        <li>Done! - your proposal will be considered by the board, you will get a response in 1-2 weeks</li>
			</ol>
		</div>
	</div>

  <div class="row">
		<div class="col-md-12">
			<h4><b>Steps to Propose a NHS Community Service Event:</b></h4>
			<ol>
        <li>If required, sign up for the event</li>
				<li>Participate in the event for at least 4 hours total, make sure to <b>sign in</b></li>
        <li>Fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLScrIigFGYn_vIBRcwIVs6MzvIIvRorPBTFYOfzL1AQxnMNf9Q/viewform" target="_blank">NHS Community Service Completion Form</a></li>
        <li>Done! - we will verify your participation and log your hours</li>
			</ol>
		</div>
	</div>

  <div class="row">
		<div class="col-md-12">
			<h4>Questions? Ask your <a href="mailto:garbac@bergen.org">officer</a>.</h4>
    </div>
	</div>

</div>
{% endblock %}
