{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/static/img/slideshow/1.JPG');"></div>
            <div class="carousel-caption">
                <h1>BERGEN COUNTY ACADEMIES<br><span class="white"><b>National Honor Society</b></span></h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/static/img/slideshow/2.JPG');"></div>
            <div class="carousel-caption">
                <h1><a href="/officers">NHS BOARD</a></h1><h2>Have a question? Contact these board members.</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/static/img/slideshow/3.JPG');"></div>
            <div class="carousel-caption">
                <h1><a href="https://drive.google.com/folderview?id=0B-b_N1cpnpZ7STdCWGhMMkVLQk0&usp=sharing">PICTURES</a></h1><h2>Check out the 2014 NHS Induction pictures!</h2>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Script to Activate the Carousel | Set the interval to change the duration of each slide -->
<script>$('.carousel').carousel({interval: 4500})</script> 
{% endblock %}