{% extends "base.html" %}
{% block title %}Officers{% endblock %}
{% block content %}
<div class="container small-spacer">
	<div class="row">
		<div class="col-md-12">
			<h1>Officers</h1>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h3>John Smith</h3>
			<p>NHS has a new point system which will be implemented to help organize events and provide incentives for members to contribute to the organization. The system works as follows: when an NHS member donates or contributes to a bake sale or helps the organization out in a way above and beyond what is expected from them, they will receive a point. Members with these points will receive priority when asking for a community service or field trip opportunity. If there are any questions pertaining to the point system, feel free to contact any NHS board member or Mr. Zhang.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
			<iframe style="width:100%; height:100%;" src="https://docs.google.com/spreadsheets/d/1VNvUzULTgg9JQeYF7yDX3nUYzX4vs8IYsU4GdOx-9kM/pubhtml?widget=true&amp;headers=false"></iframe>
			<hr>
		</div>
	</div>
</div>
{% endblock %}