{% extends "base.html" %}
{% block title %}Points{% endblock %}
{% block content %}
<div class="container small-spacer">
	<div class="row">
		<div class="col-md-12">
			<h1>Points</h1>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>The below sheet is an audit of tutoring/service projects status for current NHS Members. If anything is not reflected here, please contact the Vice President and Tutoring Director.</p>
			<p>NHS has a new point system which will be implemented to help organize events and provide incentives for members to contribute to the organization. The system works as follows: when an NHS member donates or contributes to a bake sale or helps the organization out in a way above and beyond what is expected from them, they will receive a point. Members with these points will receive priority when asking for a community service or field trip opportunity. If there are any questions pertaining to the point system, feel free to contact any NHS board member or Mrs. Lawler.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
			<iframe style="width:100%; height:100%;" src="https://docs.google.com/spreadsheets/d/15bVozH0vrxpl1C6Z-RNGqxDeC0uJxTZkEYbNiZHqhDc/edit?usp=sharing"></iframe>
			<hr>
		</div>
	</div>
</div>
{% endblock %}
