{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="container spacer center">
	<h1>Tutor Sign in</h1>
	<br>
	<form action="/signin" method="post">
		{% if username_error %}<div class="error">{{username_error}}</div>{% endif %}
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2 form_label">Username</div>
			<div class="col-md-2 {% if username_error %}has-error{% endif %}">
				<input type="text" class="form-control" name='username' placeholder="bencla" {% if variables %}value="{{variables['username']}}"{% endif %}>
			</div>
			<div class="col-md-6"></div>
		</div><br>
		{% if password_error %}<div class="error">{{password_error}}</div>{% endif %}
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2 form_label">Password</div>
			<div class="col-md-2 {% if password_error %}has-error{% endif %}">
				<input type="password" class="form-control" name='password' placeholder="password">
			</div>
			<div class="col-md-6"></div>
		</div><br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-lg btn-primary">Sign in!</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>
</div>
{% endblock %}