{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container spacer center">
	<h1>Sign up for a tutor session</h1>
	{% for session in all_sessions %} 
	<div class="row">
		<div class="col-md-12">
			<h2>Course: {{session['session']}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Days: {{session['day']}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Mods: {{session['mods']}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Tutor Name: {{session['tutor']}}</h2>
			<h2>Email: {{session['tutor_username']}}@bergen.org</h2>
		</div>
	</div>
	<div class="row center">
		<div class="col-md-12">
			<button type="submit" class="btn btn-lg btn-primary">Sign up for this session</button>
		</div>
	</div>
	{% endfor %}
	<p>i will make the sign-up for session look pretty later</p>
</div>
{% endblock %}