{% extends "base.html" %}
{% block title %}Tutor Info{% endblock %}
{% block content %}
<div class="container small-spacer">

	<div class="row">
		<div class="col-md-12">
			<h2>NHS Tutoring</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>General Information</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4><b>Requesting a Tutor:</b></h4>
			<ol>
				<li>Go to the <i>Tutoring</i> tab, press <i>View Sessions</i>, look for an available tutor, and contact them!</li>
				<li>If you are having trouble finding a tutor when you’re free, contact <a href="mailto:mikina@bergen.org">your officer</a> (tell us what subject and when you’re free and we'll set you up right away)</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>NHS Members</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4><b>Requirements:</b></h4>
			<ul>
        <li>Tri 1 (2nd half): 2 hours by <b>12/9</b></li>
				<li>Tri 2 (1st half): 2 hours by <b>2/3</b></li>
				<li>Tri 2 (2nd half): 2 hours by <b>3/17</b></li>
				<li>Tri (1st half): 2 hours by <b>5/5</b></li>
				<li>Tri 3 (2nd half): 2 hours by <b>6/9</b></li>
			</ul>
			<p>Current seniors must complete their leftover hours from last year by <b>3/17</b>. If you’re not sure how many additional hours you have to complete, contact <a href="mailto:mikina@bergen.org">your officer</a>.</p>
		</div>
	</div>

  <div class="row">
		<div class="col-md-12">
			<h4><b>Signing Up to Tutor:</b></h4>
			<ol>
        <li>Go to the <i>Tutoring</i> tab, and press <i>Sign Up</i>, the username must match your bergen mail username</li>
				<li>Once you’ve signed up, go to the <i>Tutoring</i> tab, and press <i>Add a Session</i></li>
        <li>If you’ve already signed up, go to the <i>Tutoring</i> tab and press <i>Sign In</i>, and enter your credentials</li>
        <li>Once you sign in, you’ll be prompted to add tutoring sessions - be sure to enter full hours (ie 10-12, not 11-12)</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4><b>Logging Tutoring Hours:</b></h4>
			<p>The tutee must fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLScAVHZU74_u4q2u_KZ_wN9gXh46JOGKRm4Ks_BJbx5LzhcoLA/viewform" target="_blank">form</a> so NHS can verify your hours. Tutoring hours will not be counted without a completed form. Each NHS member is responsible for making sure that he/she submits a form.</p>
		</div>
	</div>

</div>
{% endblock %}
